header {
  position: fixed;
  top: 0px;
  background-color: black;
  opacity: 0.7;
  height: 60px;
  width: 100%;
  z-index: 99999;
}
main {
  margin-top: 60px;
  height: 5000px;
}
.news {
  background: url("팀 소개 배경.jpg") center;
  background-size: cover;
  height: 600px;
}
/* 인터뷰 */
.intervew {
  padding-top: 50px;
}
#i1 {
text-align: center;
font-size: 23px;
padding: 40px;
}
#n1 {
  text-align: right;
  font-size: 18px;
  padding-right: 350px;
}
/* false */
.false {
  text-align: center;
  padding-top: 50px;
}
#f1 {
  font-size: 25px;
}
#f2 {
  padding-top: 200px;
  font-size: 30px;
}